.my-head{
    text-align: center;
}

.property-panel{
    border: 2px solid #444;
    border-radius: 8px;
    background-color: var(--background-secondary);
    padding: var(--size-4-4);
    margin-top: var(--size-4-4);
}

.my-button{
    margin: auto;
    margin-top: 2em;
    padding: auto;
    display: block;
}

.my-delete-button{
    margin-left: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.button-container{
    margin-top: 8px;
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr;
}

.key-header{
    display: inline-block;
    cursor: pointer;
    margin-bottom: 0px;
}

.clickable{
    cursor: pointer;
}

.clickable:hover{
    font-weight: bold;
}

.italic{
    font-style: oblique;
}

.setting-key{
    margin-top: 8px;
}